#header {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 30px);
    display: flex;
    justify-content: end;
    margin: 15px;
}

.btn-user,
.btn-user:focus {
    border-color: transparent;
}

@media (min-width: 768px) {
    #header {
        width: calc(100% - 70px);
        margin: 35px;
    }
}