:root {
    --background: #E0E0E0;
    --card-background: #F5F5F5;
    --menu-bar-color: #012d50;
    --menu-bar-size: 100px;
    --text-color: #012d50;
    --text-menu-bar: rgba(235, 235, 235, 0.5);
    --bs-body-bg: transparent !important;
}

html {
    height: 100vh;
}

* {
    font-family: Montserrat;
    font-size: 13px;
}

body {
    background-color: var(--background);
    height: 100%;
    color: var(--text-color);
}

.card-content {
    overflow: scroll;
    padding: 15px;
    background-color: var(--card-background);
    height: calc(100% - var(--menu-bar-size) - 45px);
    border-radius: 25px;
}

table {
    --bs-table-color: var(--text-color) !important;
}

.fs-6 {
    font-size: 15px !important;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    height: 0px;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.btn-primary {
    background-color: var(--menu-bar-color);
    border: none;
    border-radius: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--menu-bar-color) !important;
    border: none;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .card-content {
        height: calc(100% - 60px);
        padding: 25px;
    }
}